:root {
  --bgColor: #f5f5fa;
  --bgMain: #fff;
  --primaryColor: #9b9b9b;
  --secondaryColor: #e8891c;
  --tertiaryColor: #ebebfc;
  --destaqColor: #4f4fb9;
  --font-default: "Noto Sans", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bgColor);
  font-family: var(--font-default);
  font-optical-sizing: auto;
  font-size: 1rem;
}

button {
  cursor: pointer;
  transition: filter 0.2s;
  &:hover {
    filter: brightness(0.9);
  }
}
