:root {
  --bgColor: #f5f5fa;
  --bgMain: #fff;
  --primaryColor: #9b9b9b;
  --secondaryColor: #e8891c;
  --tertiaryColor: #ebebfc;
  --destaqColor: #4f4fb9;
  --palpiteBgColor: #6363db;
  --borderColor: #c3c3c3;
  --colorLetters: #32325f;
  --colorLetterCorrect: #03ab4f;
  --BgColorCorrect: #e1f5ec;
  --colorLetterWrong: #691b0a;
  --bgcolorLetterWrong: #ffcf62;

  --font-default: "Noto Sans", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bgColor);
  font-family: var(--font-default);
  font-optical-sizing: auto;
  font-size: 1rem;
}

button {
  cursor: pointer;
  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.9);
  }
}

button,
input {
  font-family: "Noto Sans", sans-serif;
}
