.letter {
  width: 3.37rem;
  height: 3.37rem;
  border-radius: 0.62rem;
  background-color: var(--tertiaryColor);
  color: var(--destaqColor);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.letterSmall {
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 0.43rem;
  font-size: 1.25rem;
  font-weight: 500;
  border: 1px solid var(--palpiteBgColor);
}
.letterCorrect {
  background-color: var(--BgColorCorrect);
  border-color: var(--colorLetterCorrect);
  color: var(--colorLetterCorrect);
}

.letterWrong {
  background-color: var(--bgcolorLetterWrong);
  border-color: var(--colorLetterWrong);
  color: var(--colorLetterWrong);
}
